page {
  height: 100%;
}

.forecast {
  min-height: 1300px;
  width: 100%;
  color: #fff;
  background:linear-gradient(120deg, #2c7cf7, #2c7aa0);


  .top {
    // margin-bottom: 100rpx;
    position: relative;
    padding:0rpx 20rpx;
  }

  .city {
    font-size: 60rpx;
    text-align: center;
    padding-bottom:30rpx;
    padding-top:50rpx;
  }

  .currentWind {
    text-align:center;
    font-size: 100rpx;
  }

  .weatherDesc {
    text-align: center;
    font-size:40rpx;
    // color: #e62121;
  }

  .temperature {
    font-size: 30rpx;
    text-align: center;
  }

  .windDesc {
    font-size:25rpx;
    text-align:center;
  }

  .time {
    position: absolute;
    top: 10rpx;
    left: 10rpx;
    font-size: 20rpx;
  }

  .padding {
    padding: 10rpx 0;
  }

  .list {
    padding:0rpx 20rpx;
    font-size: 25px;

    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      // border-top: 1rpx solid #eee;
      padding: 10rpx 0rpx;

      image {
        width: 50rpx;
        height: 40rpx;
      }
    }
  }

  .scrollView {
    margin-top:50rpx;

    .card {
      padding: 0rpx 20rpx;
      height: 400rpx!important;
      min-width: 1750rpx;
      display: flex;
      align-items: center;

      .card-item {
        width: 350rpx;
        height: 350rpx;
        background: #24bc90;
        margin-right: 15rpx;
        border-radius: 5%;
        text-align: center;
        box-shadow:0rpx 2rpx 1rpx #555;

        .title {
          margin-bottom:20rpx;
          padding-top:40rpx;
          // color: red;
        }

        .desc {
          font-size:25rpx;
          padding:0rpx 20rpx;
        }
      }
    }
  }

  .updateTime7d {
    font-size: 20rpx;
    margin-left: 20px;
  }

  .button {
    height: 100rpx;
    width: 100rpx;
    border-radius: 50%;
    line-height: 100rpx;
    background: #2c7cf7;
    color: #fff;
    position: fixed;
    right: 50rpx;
    bottom: 80rpx;
    font-size: 25rpx;
    padding: 0rpx;
    z-index: 100;
    border: 0rpx;
  }
}
