page {
  width: 100%;
  height: 100%;
}

.index-container {
  padding: 50rpx 50rpx;
  background:#fff;

  & .img-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40rpx;
  }

  & .inconImage {
    width: 220rpx;
    height: 220rpx;
    margin:20rpx 40rpx 20rpx 40rpx;
  }

  & .ico-3 {
    background: url('../../static/image/ico-3.jpg') no-repeat center center;
    background-size:100% 100%;
  }

  & .ico-4 {
    background: url('../../static/image/ico-4.jpg') no-repeat center center;
    background-size:100% 100%;
  }

  & .ico-2 {
    background: url('../../static/image/ico-2.jpg') no-repeat center center;
    background-size:100% 100%;
  }

  & .ico-1 {
    background: url('../../static/image/ico-1.jpg') no-repeat center center;
    background-size:100% 100%;
  }

  & .desc {
    color:#888;
    font-size:28rpx;
    margin-top:30rpx;

    text {
      font-weight: 900;
    }
  }
}

.searchFiled {
  background-color: #eee;
  color: rgb(156, 156, 156);
  text-align: center;
  display: flex;
  align-items: center;
  height: 100rpx;
  justify-content: space-between;
  border-radius: 30rpx;
  padding-left: 30rpx;
  padding-right: 30rpx;

  & .input {
    text-align: left;
    font-size: 30rpx;
    font-weight: 400;
    flex-grow: 1;
    padding-left: 30rpx;
    padding-right: 30rpx;
  }

  & .icon {
    /* background-color: red; */
    width: 50rpx;
    height: 50rpx;
    border-radius: 50%;
    padding: 20rpx;
  }
}

.collectionView {
  padding: 0rpx;
  padding-top: 40rpx;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cell {
  width: 40%;
  height: 180rpx;
  border-radius: 30rpx;
  background-color: white;
  margin-bottom: 40rpx;
  padding: 24rpx;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}



.count {
  font-size: 80rpx;
  font-weight: bold;
}

.typeName {
  font-size: 30rpx;
  color: #3b3b3b;
}

.searchList {
  padding-top: 12rpx;
}

.searchCell {
  margin: 10rpx;
  text-align: left;
  height: 90rpx;
  line-height: 90rpx;
  font-size: 20;
}

.line {
  height: 2rpx;
  background-color: rgb(221, 221, 221);
}

.resultback {
  position: fixed;
  top: 0rpx;
  left: 0rpx;
  z-index: 9999;
  background-color: rgba(75, 75, 75, 0.384);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultView {
  width: 80%;
  background-color: white;
  border-radius: 30rpx;
  color: rgb(41, 41, 41);
}

.resultHead {
  background-color: rgb(233, 233, 233);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150rpx;
  border-radius: 30rpx 30rpx 0 0;
  font-size: 60rpx;
  font-weight: bold;
  color: rgb(39, 39, 39);
}

.desView {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30rpx 40rpx;
  word-break: break-all;
  font-size: 30rpx;
}

.bigIcon {
  width: 80rpx;
  height: 80rpx;
  padding: 50rpx;
  border-radius: 30rpx;
  margin-right: 20rpx;
  flex-shrink: 0;
}

.title {
  background-color: rgb(233, 233, 233);
  line-height: 80rpx;
  height: 80rpx;
  padding-left: 30rpx;
  font-size: 34rpx;
}

.des {
  margin: 30rpx;
  font-size: 30rpx;
}
