page {
  height: 100%;
}

.index {
  height: 100%;
  width: 100%;
  color: #fff;
  background: url('../../static/image/bg.png') no-repeat center center;
  background-size: 100% 100%;

  .top {
    margin-bottom: 100rpx;
    position: relative;
    padding:0rpx 20rpx;
  }

  .city {
    font-size: 60rpx;
    text-align: center;
    padding-bottom:30rpx;
    padding-top:50rpx;
  }

  .currentWind {
    text-align:center;
    font-size: 70rpx;
  }

  .weatherDesc {
    text-align: center;
    font-size:25rpx;
    // color: #e62121;
  }

  .temperature {
    font-size: 30rpx;
    text-align: center;
  }

  .windDesc {
    font-size:25rpx;
    text-align:center;
  }

  .time {
    position: absolute;
    top: 10rpx;
    left: 10rpx;
    font-size: 20rpx;
  }

  .padding {
    padding: 10rpx 0;
  }

  .list {
    padding:0rpx 20rpx;

    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      // border-top: 1rpx solid #eee;
      padding: 10rpx 0rpx;

      image {
        width: 30rpx;
        height: 30rpx;
      }
    }
  }

  .scrollView {
    margin-top:50rpx;

    .card {
      padding: 0rpx 20rpx;
      height: 400rpx!important;
      width:2000rpx;
      display: flex;
      align-items: center;

      .card-item {
        width: 400rpx;
        height: 400rpx;
        background: #D6D5B7;
        margin-right: 10rpx;
        border-radius: 5%;
        text-align: center;

        .title {
          margin-bottom:20rpx;
          padding-top:20rpx;
          color: red;
        }

        .desc {
          font-size:30rpx;
          padding:0rpx 20rpx;
        }
      }
    }
  }
}
